<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>QLPV</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>controller.HomePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Reporter</servlet-name>
    <servlet-class>controller.Reporter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManager</servlet-name>
    <servlet-class>controller.UserManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerManager</servlet-name>
    <servlet-class>controller.CustomerManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reporter</servlet-name>
    <url-pattern>/reporter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManager</servlet-name>
    <url-pattern>/usermanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerManager</servlet-name>
    <url-pattern>/customermanager</url-pattern>
  </servlet-mapping>
</web-app>